<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <charset>utf-8</charset>
      <Pattern>
        <!--%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n-->
        %d{dd.MM.yy HH:mm:ss} %-5level %msg%n
      </Pattern>
    </encoder>
  </appender>

  <logger additivity="false" level="INFO"
    name="com.socks">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>